<%= form_for product do |f| %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </p>

  <p>
    <%= f.label :price %>
    <%= f.text_field :price %>
  </p>

  <p>
    <%= f.submit %>
  </p>

  <% end %>

  <% if @product.errors.any? %>
    <div>
      <ul>
        <%= @product.errors.full_messages.each do |error_msg| %>
          <li><p><%= error_msg %><p></li>
        <% end %>
      </ul>
    </div>
  <% end %>
